{% extends "base.html.twig" %}
{% block navbar %}
    <!-- Menu -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/" >Accueil</a>
        </li>
        <li class="">
            <a href="/ideas">Boîte à idée</a>
        </li>
        <li class="active">
            <a href="/events">Evènements</a>
        </li>
        <li class="">
            <a href="/shop">Boutique</a>
        </li>
    </ul>
    {% endblock %}
{% block body %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %} <!-- Utiliser bootstrap -->
    <div class="row" id="lightblue">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info coupon"> <!-- Panel est deprecated, il faudrait peut-être le mettre à jour Emilien ;) -->
                    <div class="panel-title" id="title">
                        <div class="panel-heading" id="head">
                        <i class="fa fa-bullhorn fa-2x"></i>
                        <span class="hidden-xs">{{ event.titre }}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <img src="/Uploads/{{ event.image }}" class="coupon-img img-rounded">
                    <div class="col-md-9">
                        <ul class="items">
                            <li><b>Description de l'évènement :</b></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="offer text-info">
                            <span class="number">{{ event.prix }}</span>
                            <span class="cents"><sup>00</sup></span>
                            <span class="usd"><sup>€</sup></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p3>{{ event.contenu }}</p3>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="coupon-code">
                        {% if app.session.get('logged') is not null %}
                        N'attendez plus :
                        {% else %}
                        Vous devez être inscrit pour intéragir avec les évènements
                        {% endif %}
                        <span class="print">
                            {% if app.session.get('logged') is not null %}
                                    <li class="dropdown">
                                        <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">Poster une photo<b class="caret"></b></a>
                                        <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                            <li>
                                                <div class="col-md-20">
                                                    {{ form_start(form) }} <!--MyForm -->
                                                    {{ form_end(form) }}
                                                </div>
                                            </li>
                                        </ul>
                                        </li>

                                    <li class="dropdown">
                                        <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">Liste inscrit<b class="caret"></b></a>
                                        <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                            <li class="">
                                                 <a href="{{ path('downloadEventPDF', {slug: slug}) }}"><i class="fa fa-lg fa-print"></i> Télécharger en CSV </a>
                                            </li>
                                            <li class="">
                                                <a href="{{ path('downloadEventCSV', {slug: slug}) }}"><i class="fa fa-lg fa-print"></i> Télécharger en PDF </a>
                                            </li>
                                        </ul>
                                    </li>

                    </span>
                    </div>
                    <div class="exp">
                        <a href="#"> Je m'inscris </a>
                    </div>
                    {% endif %}


                </div>

            </div>
        </div>
    </div>
        {% set compteur = 0 %}
        {% for comments in photosAComment %}
        <!-- Espace commentaire -->
    <div class="row" id="yellow">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-warning coupon">
                    <div class="panel-heading" id="head">
                        <div class="panel-title" id="title">
                            <i class="fa fa-comments-o fa-2x"></i>
                            {% set date = comments.dateComment.date|split(' ') %}
                        <span class="hidden-xs">John - McGuard - {{ date[0] }}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <img src="../Uploads/{{ photo[compteur][0].path }}" class="coupon-img img-rounded" alt="image" >
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-12">
                        <p3>{{ comments.comment }}</p3>
                    </div>
                    <div class="comments">
                        <b>John Lenon : </b>
                        <div class="comment-wrap">

                            <div class="comment-block">
                                <p2 class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum dolorem natus recusandae incidunt voluptatum. Eligendi voluptatum ducimus architecto tempore, quaerat explicabo veniam fuga corporis totam reprehenderit quasi
                                    sapiente modi tempora at perspiciatis mollitia, dolores voluptate. Cumque, corrupti?</p2>
                                <div class="bottom-comment">
                                    <div class="comment-date">Aug 24, 2014 @ 2:35 PM</div>
                                    {% if app.session.get('logged') is not null %}
                                    <ul class="comment-actions">
                                        <a href="#" class="btn btn-link"><i class="fa fa-lg fa-thumbs-o-up"></i></a>
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                            {% if app.session.get('logged') is not null %}
                            <a href="#" class="btn btn-link"><i class="fa fa-lg fa-ban"></i> Supprimer </a>
                            <a href="#" class="btn btn-link"><i class="fa fa-lg fa-legal"></i> Signaler </a>
                            {% endif %}
                        </div>
                        {% if app.session.get('logged') is not null %}
                        <div class="comment-wrap">
                            <div class="comment-block">
                                <form action="">
                                    <textarea name="" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
                                </form>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Répondre </button>
                    </div>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <div class="coupon-code">
                        Nombre de <i class="fa fa-lg fa-thumbs-o-up"></i> total :
                        {% if app.session.get('logged') is not null %}
                        <span class="print">
                            <a href="#" class="btn btn-link"><i class="fa fa-lg fa-cloud-download"></i> Télécharger photo </a>
                            <a href="#" class="btn btn-link"><i class="fa fa-lg fa-ban"></i> Supprimer </a>
                            <a href="#" class="btn btn-link"><i class="fa fa-lg fa-legal"></i> Signaler </a>
                        </span>
                        {% endif %}
                    </div>
                    <div class="exp"> 23 </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% set compteur = compteur + 1 %}
{% endfor %}
{% endblock %}
