{% extends "base.html.twig" %}
{% block navbar %}
<!-- Menu -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/" >Accueil</a>
        </li>
        <li class="">
            <a href="/ideas">Boîte à idée</a>
        </li>
        <li class="">
            <a href="/events">Evènements</a>
        </li>
        <li class="active">
            <a href="/shop">Boutique</a>
        </li>
    </ul>
    {% endblock %}
{% block body %}

   <button type="button" class="btn btn-primary top-corner" onclick="window.location.href='/shop/cart'">Panier</button>
   <button type="button" class="btn btn-warning top-corner-shop" onclick="window.location.href='/shop/admin'">Gestion Boutique</button>
    <!-- Menu de recherche -->
    {% form_theme form 'bootstrap_4_layout.html.twig' %} <!-- Utiliser bootstrap -->
    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            <b> Rechercher un produit </b>
                <div class="col-xs-15">
                    <div class="well">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-check">
                        <b>Cochez vos catégories :</b>
                            {{ form_errors(form.category) }}
                            {{ form_widget(form.category) }}
                        </div>
                        <div class="form-group">
                        <b>Prix Max :</b>
                            {{ form_errors(form.maxPrice) }}
                            {{ form_widget(form.maxPrice) }}
                        </div>
                        <div class="form-group">
                        <b>Recherchez :</b>
                            {{ form_errors(form.research) }}
                            {{ form_widget(form.research) }}
                        </div>
                        <!-- Boutton -->
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if result is defined %}
        {{ dump(result) }}
    {% endif %}
    {% if app.session.get('logged') is not null %}
    <!-- Affichage de la recherche -->
    {% endif %}
{% endblock %}