{% extends "base.html.twig" %}
{% block navbar %}
<!-- Menu -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/" >Accueil</a>
        </li>
        <li class="">
            <a href="/ideas">Boîte à idée</a>
        </li>
        <li class="">
            <a href="/events">Evènements</a>
        </li>
        <li class="active">
            <a href="/shop">Boutique</a>
        </li>
    </ul>
    {% endblock %}
{% block body %}

   <button type="button" class="btn btn-primary top-corner" onclick="window.location.href='/shop/cart'">Panier</button>
   <button type="button" class="btn btn-warning top-corner-shop" onclick="window.location.href='/shop/admin'">Gestion Boutique</button>
    <!-- Menu de recherche -->
 <p>TOP 3 PRODUITS DE NOTRE BOUTIQUE</p>
    <div class="container">
        <div class="col-xs-12">
            <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                        <button type="button" class="" onclick="window.location.href='{{ path('shopResearch') }}'">Faire des recherches</button>
                        {% for i in 0..2 %}
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="Images/{{ articles[i].pathPhoto  }}" alt="" height="250" width="250"></a>
                                    </div>
                                    <div class="caption">
                                        <h4>{{ articles[i][0][i].nom }}</h4>
                                        <p2>{{ articles[i][0][i].description }} </p2>
                                        <br/>
                                        <b> {{ articles[i][0][i].prix }} €</b>
                                        <br/>
                                        <button type="button" class="btn btn-success center">Ajouter Panier</button>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div><!-- /Slide1 -->
                </div><!-- /.control-box -->
            </div><!-- /#myCarousel -->
        </div><!-- /.col-xs-12 -->
    </div><!-- /.container -->
{% endblock %}