{% extends "base.html.twig" %}
{% block navbar %}
<!-- Menu -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/" >Accueil</a>
        </li>
        <li class="active">
            <a href="/ideas">Boîte à idée</a>
        </li>
        <li class="">
            <a href="/events">Evènements</a>
        </li>
        <li class="">
            <a href="/shop">Boutique</a>
        </li>
    </ul>
    {% endblock %}
{% block body %}
{% if app.session.get('logged') is not null %}
    <p>Boîte à idéees</p>
    {% form_theme form 'bootstrap_4_layout.html.twig' %} <!-- Utiliser bootstrap -->
    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xs-15">
                    <div class="well">
                        {{ form_start(form) }}
                                {{ form_errors(form) }}
                            <div class="form-group">
                                    {{ form_label(form.titre) }} <!-- Label name -->
                                    {{ form_widget(form.titre) }} <!-- Erreurs de validation -->
                                    {{ form_row(form.titre) }} <!-- Affiche la row -->
                            </div>
                            <div class="form-group">
                                    {{ form_label(form.description) }} <!-- Label name -->
                                    {{ form_widget(form.description) }} <!-- Erreurs de validation -->
                                    {{ form_row(form.description) }} <!-- Affiche la row -->
                            </div>
                            <div class="container">
                                <img id="blah" src="http://placehold.it/180" alt="your image" />
                                    {{ form_label(form.image) }} <!-- Label name -->
                                    {{ form_widget(form.image) }} <!-- Erreurs de validation -->
                                    {{ form_row(form.image) }} <!-- Affiche la row -->
                            </div>
                            <!-- Boutton -->
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}