{% extends "base.html.twig" %}
{% block navbar %}
<!-- Menu -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/" >Accueil</a>
        </li>
        <li class="active">
            <a href="/ideas">Boîte à idée</a>
        </li>
        <li class="">
            <a href="/events">Evènements</a>
        </li>
        <li class="">
            <a href="/shop">Boutique</a>
        </li>
    </ul>
    {% endblock %}

{% block body %}
{% if app.session.get('logged') is not null %}
    <button type="button" class="btn btn-primary top-corner" onclick="window.location.href='{{ path('addIdea') }}'">Proposer un évènement</button>
{% endif %}
{% for data in ideas%}

{% set nblike = data.0.nbLike  - data.0.nbDislike %}
    <!--{{ dump(data) }}-->
    <figure class="snip1423">
        <img src="Uploads/{{ data.pathPhoto}}" alt="sample57" />
            <h3>{{ data.0.titre }}</h3>
            <p4>{{ data.0.contenu }}</p4>
            <br/>
            {% if app.session.get('logged') is not null %}
            <button type="button" class="btn btn-success" onclick="window.location.href='{{ path('likeIdea') }}'">
                <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>

            <button type="button" class="btn btn-danger" onclick="window.location.href='{{ path('dislikeIdea') }}'">
                <span class="glyphicon glyphicon-thumbs-down"></span>
            </button>
            {% if app.session.get('userInfo').IDStatus == 2 %}
                <button type="button" class="btn btn-warning" onclick="window.location.href='/ideas/transform/{{ data.0.titre }}'">Transformer</button>
            {% endif %}
            {% endif %}
            <img src="Images/like.png" alt="pouce bleu" height="30" width="30"><b>{{ nblike }}</b>
    </figure>
{% endfor %}
{% endblock %}