{% extends "base.html.twig" %}
{% block navbar %}
<!-- Menu -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/" >Accueil</a>
        </li>
        <li class="">
            <a href="/ideas">Boîte à idée</a>
        </li>
        <li class="">
            <a href="/events">Evènements</a>
        </li>
        <li class="">
            <a href="/shop">Boutique</a>
        </li>
    </ul>
{% endblock %}
{% block body %}
{# add this at the beginning of your template #}
{% form_theme form 'bootstrap_4_layout.html.twig' %} <!-- Utiliser bootstrap -->
        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-xs-15">
                        <div class="well">
                            {{ form_start(form) }}
                                {{ form_errors(form) }}
                                <div class="form-group">
                                    <b>Prénom : </b>
                                    {{ form_errors(form.firstName) }}
                                    {{ form_widget(form.firstName) }}
                                </div>
                                <div class="form-group">
                                    <b>Nom : </b>
                                    {{ form_errors(form.lastName) }}
                                    {{ form_widget(form.lastName) }}
                                </div>
                                <div class="form-group">
                                    <b>Adresse email : </b>
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                                <div class="form-group">
                                    <b>Mot de passe : </b>
                                    {{ form_errors(form.password) }}
                                    {{ form_widget(form.password) }}
                                </div>
                                <div class="form-group">
                                    <b>Confirmez votre mot de passe : </b>
                                    {{ form_errors(form.passwordConfirm) }}
                                    {{ form_widget(form.passwordConfirm) }}
                                </div>
                                <!-- Button-->
                            {{ form_end(form) }}
                                    {% if  passwordsDoesNotMatch == true  %}
                                    <b>Les mots de passes ne correspondent pas !</b>
                                    <br/>
                                    {% endif %}
                                    {% if  passwordNotConform == true  %}
                                    <b>Les mots de passes ne sont pas conformes ! : chiffre et une majuscule</b>
                                    <br/>
                                    {% endif %}
                                    {% if  emailAlreadyTaken == true  %}
                                    <b>L'email a déjà été pris !</b>
                                    <br/>
                                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}