{% extends "base.html.twig" %}
{% block navbar %}
<!-- Menu -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/" >Accueil</a>
        </li>
        {%  if app.session.get('logged') is not defined %}
            <li class="">
                <a href="/ideas">Boîte à idée</a>
            </li>
            <li class="">
                <a href="/events">Evènements</a>
            </li>
            <li class="">
                <a href="/shop">Boutique</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block body %}
{# add this at the beginning of your template #}
{% form_theme form 'bootstrap_4_layout.html.twig' %} <!-- Utiliser bootstrap -->
        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-xs-15">
                        <div class="well">
                            {{ form_start(form) }}
                                {{ form_errors(form) }}
                                <div class="form-group"><!-- login -->
                                    {{ form_label(form.login) }} <!-- Label name -->
                                    {{ form_widget(form.login) }} <!-- Erreurs de validation -->
                                    {{ form_row(form.login) }} <!-- Affiche la row -->
                                </div>
                                <div class="form-group"><!-- password -->
                                    <b>Mot de passe : </b>
                                    {{ form_widget(form.password) }}
                                    {{ form_row(form.password) }}
                                </div>
                            <!-- Boutton -->
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% block myJavascript %}
<script type="text/javascript" language="javascript">
        function verifierFormulaire ( )
        {
            var nom = $('input[name="form[login]"]').val(); //On récupère le nom
            var pattern = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            if(pattern.test(nom)){ // Si true
                //Do nothing
            }else{
                alert("Veuillez rentrer une adresse email valide !")
            }
        }
</script>
{% endblock %}
{% endblock %}