{% extends "base.html.twig" %}
{% block navbar %}
<!-- Menu -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/" >Accueil</a>
        </li>
        <li class="">
            <a href="/ideas">Boîte à idée</a>
        </li>
        <li class="active">
            <a href="/events">Evènements</a>
        </li>
        <li class="">
            <a href="/shop">Boutique</a>
        </li>
    </ul>
{% endblock %}
{% block body %}
    {% if app.session.get('logged') is not null %}
        {% if app.session.get('userInfo').IDStatus == 2 %}
            <button type="button" class="btn btn-warning top-corner" onclick="window.location.href='/events/add'">Créer un évènement</button>
        {% endif %}
    {% endif %}
{% for data in events%}
    <figure class="snip1423">
        <img src="Uploads/{{ data.image }}" alt="sample57" />
        <figcaption>
            <h3><b>{{ data.titre }}</b></h3>
            <div class="price">
            {% set date = data.DateManifestation.date|split(' ') %}
                {{ date[0] }}
                <div class="offer text-info">
                    <span class="number">{{ data.prix }}</span>
                    <span class="cents"><sup>00</sup></span>
                    <span class="usd"><sup>€</sup></span>
                </div>
            </div>
        </figcaption><i class="ion-android-cart">+

        <a href="/events/{{ data.titre }}"></a><!--event-->
    </figure>
{% endfor %}

{% endblock %}